* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  height: 100%;
  width: 960px;
  margin: 0 auto;
}

img {
  width: auto;
}

#delicious {
  height: 40px;
}

#logo {
  display: inline-block;
  width: 50%;
  float: left;
}

#logo-img {
  display: inline-block;
  width: auto;
  float: left;
}

#logo-text{
  display: inline-block;
}

#social-media {
  display: inline-block;
  width: 50%;
  float: right;
}

#social-media img {
  display: inline;
  float: right;
  margin-right: 5px;
}

#picture-text-heading {
  display: inline-block;
  float: left;
  width: 80%;
}

#picture-text-print-icon {
  display: inline-block;
  float: right;
  width: 20%;
}

#picture-text-img img {
  margin: 0 auto;
}

#contact-van {
  display: inline-block;
  width: auto;
  float: left;
}

#contact-text {
  display: inline-block;
  width: auto;
}

#contact-button {
  display: inline-block;
  width: 12%;
  float: right;
}

#footer img p {
  display: inline-block;
  margin: 0 auto;
}
